
/**
 * Profile image component
 */
/*.profile-header-container{
    margin: 0 auto;
    text-align: center;
}

.profile-header-img {
   // padding: 54px;
}
*/
.profile-header-img > img.img-circle {
    width: 220px;
    height: 220px;
    border: 2px solid #51D2B7;
}

.profile-header {
    margin-top: 43px;
}

/**
 * Ranking component
 */
.rank-label-container {
    margin-top: -19px;
    /* z-index: 1000; */
    text-align: center;
}

.label.label-default.rank-label {
    background-color: rgb(81, 210, 183);
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
}  








.jumbotron {
  align-items:center;

  background-color:#F8F8F8  ;
  border: 1px solid #f2cb3b;
  h2 {
    color: #c41200;
    font-weight: bold;
  }
}

.navbar-default {
  .container-fluid {
    background-color: #b80b03;
    .navbar-nav > li > a {
      color: #ffffff;
      font-size: 16px;
      font-weight: bold;
    }
    .navbar-brand {
      color: black;
      font-size: 30px;
      font-weight: bold;
      font-family: 'Hobo Std';
      text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    }
  }
}

.container-fluid {
  padding: 10px 120px;
}